# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
env/
.vscode
# --- Dati e Video (Il "grosso" da escludere) ---
*.mp4
*.mkv
*.avi
*.jpg
*.jpeg
*.png
# Escludi tutti i modelli nella cartella model
models/*.pt
models/*.onnx
models/*.engine
checks/*

# --- Log ---
*.log