# --- Python ---
__pycache__/
*.pyc
.venv/
.venv_cpu/
venv/
env/
.vscode
*.egg-info/
# --- Dati e Video
*.mp4
*.mkv
*.avi
*.jpg
*.jpeg
*.png

# Eccezioni per la documentazione
!docs/assets/*.jpg
!docs/assets/*.jpeg
!docs/assets/*.png
!docs/assets/*.gif

# Altri
models/*.pt
models/*.onnx
models/*.engine
checks/*

# --- Log ---
*.log
.jsonl

config/cameras.json
